@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url("6vtultca.bmp");
    background-repeat:no-repeat;
    background-size: 150%;
    background-position-x: center;
    background-position-y: 20vw;
}

#ball {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    /* background-color:black; */
    /* background: radial-gradient(circle at 100px 100px, rgb(202, 198, 198), #000); */
    background-image:url("transparent-black-sphere-circle-moon-images-clipart-vector-clipart-psd-peoplep5d91ec62565ba0.7683475315698443223537.png");
    background-size:115%;
    background-position-x:32%;
    background-position-y: 60%;
    box-shadow:5px 5px 5px black;
    opacity:100%;

    
    
}

#ballCopy{
    position:absolute;
    left:0px;
    top:0px;
}

#window{
  
    display:flex;
    height:50%;
    width: 50%;
    border-radius: 50%;
    background-color: white;
    padding:1%;
    border:5px outset black;
    transform:translateX(50%);

}
#glass{
    position: relative;
    height:50%;
    width: 50%;
    border-radius: 50%;
    background-color: pink;
    padding:1%;
    border:outset black;
    /* z-index: 5; */
    transform:translateX(-50%);
    opacity:0%;

}

#dice{
    /*height: 100px;
    width: 100px;
    background-color:grey;
    transform:rotate(45deg); */
    /* transform:rotate(180deg); */
    /* float:left;
    shape-outside:polygon(50% 0, 100% 100%, 0 100%); */


}

#dice>img{
    position:relative;
    top: 25%;
    left: 11%;
    height: 65%;
    width: 80%;
    z-index: 0;
    transform:rotate(180deg);
}
#output{
    position:relative;
    top: -35%;
    left: 35%;
    /* transform:rotate(-45deg); */
    z-index: 3;
    color:white;
    text-shadow: 2px 2px 2px black;
    width:fit-content;
}

.ballShake{
    visibility:invisible;
}

.hiddenDrag{
    visibility: hidden;
}

.fadeIn{
    animation:fadeIn 3s;

}

#ballShadow{
    position:relative;
    border-radius: 50%;
    height: 5vw;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.657);
    box-shadow:0px 0px 10px black;
}

@media screen and (max-width:600px){
    body{
        background-size:300%;
        background-position-x: center;
        background-position-y: 35vh;
    }
    #ball{
        position:relative;
        top:20vw;
        left:10w;
        height: 70vw;
        width: 70vw;
    }
    #ballShadow{
        width:70vw;
        position:relative;
        top:30vw;
        left:10w;
    }
}